@import url('https://fonts.googleapis.com/css?family=Montserrat');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


/* navigation */
.navigation{
  background: #fff;
  width: 100%;
}
.navigation .navbar-brand{
  color: #000;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.navigation .navbar-collapse ul li .nav-link{
  color: #000;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#cpBtn{
  padding: 2px 5px;
}
#cpBtn > div{
  width: 30px;
  height: 5px;
  background: #000080;
  margin: 3px 0px;
  border-radius: 4px;
  border: none;
  outline: 0;
}




/* home style */
.home{
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fff;
}
.home h1{
  font-size: 70px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.home h2{
  font-size: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.home .top_div{
  width: 30%;
  height: 30px;
  background:transparent;
  border: 3px solid #fff;
  border-bottom: none;
  margin: auto;
}
.home .bottom_div{
  width: 30%;
  height: 30px;
  background:transparent;
  border: 3px solid #fff;
  border-top: none;
  margin: auto;
}



/* .why_bofu */

.why_bofu{
  /* background: rgb(241, 239, 239); */
  background: #fff;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  padding: 250px 0px;
}
.why_bofu .contents{
  text-align: center
}
.why_bofu .contents h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.why_bofu .contents p{
  text-align: justify;
  color: #000;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.why_bofu .top_row{
  margin-top: -350px;
  background:#000080;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 100px;
  padding-top: 100px;
  font-weight: 700;
  font-size: 50px;
}
.why_bofu .top_row h1{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}



/* about style */
.about{
  background:#000080;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.about h1{
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: justify;
  padding-left: 40px;
}
.about .heading{
  /* background: rgb(241, 239, 239); */
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px;
  overflow: hidden;
}
.about .description{
  padding: 190px 0px;
}












/* quotation */
.quotation{
  background: #e9b32a;
  padding: 100px 0px;
  text-align: center;
  text-transform: capitalize;
}
.quotation h1{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

.service{
  background: #fff;
  padding: 200px 0px;
}
.service h1{
  font-size: 70px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.service .service_content h1{
  font-size: 30px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}



/* our_projects */
.our_projects{
  background:#000080;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 100px;
  padding-top: 100px;
  font-weight: 700;
  font-size: 50px;
}
.our_projects h1{
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}