@import url('https://fonts.googleapis.com/css?family=Montserrat');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}



/* home style */
.home{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)), url("./images/bg1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 300px;
  padding-bottom: 200px;
  color: #fff;
}
.home h1{
  font-size: 70px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.home h2{
  font-size: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}




/* .why_bofu */

.why_bofu{
  background: rgb(241, 239, 239);
  color: #000;
  font-family: 'Montserrat', sans-serif;
  padding: 100px 0px;
}
.why_bofu .contents{
  text-align: center
}
.why_bofu .contents h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.why_bofu .contents p{
  text-align: justify;
  color: #000;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.why_bofu .top_row{
  margin-top: -170px;
  background:#fff;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
}
.why_bofu .top_row h1{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}







/* about style */
.about{
  padding: 100px 0px;
}
.about h1{
  font-size: 50px;
  color: #000;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
}