@import url('https://fonts.googleapis.com/css?family=Montserrat');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


/* navigation */
.navigation{
  background: #fff;
  width: 100%;
}
.navigation .navbar-brand{
  color: #000;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.navigation .navbar-collapse ul li .nav-link{
  color: #000;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#cpBtn{
  padding: 2px 5px;
}
#cpBtn > div{
  width: 30px;
  height: 5px;
  background: #000080;
  margin: 3px 0px;
  border-radius: 4px;
  border: none;
  outline: 0;
}




/* home style */
.home{
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  color: #fff;
}
.home h1{
  font-size: 70px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.home h2{
  font-size: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.home .top_div{
  width: 30%;
  height: 30px;
  background:transparent;
  border: 3px solid #fff;
  border-bottom: none;
  margin: auto;
}
.home .bottom_div{
  width: 30%;
  height: 30px;
  background:transparent;
  border: 3px solid #fff;
  border-top: none;
  margin: auto;
}



/* .why_bofu */

.why_bofu{
  /* background: rgb(241, 239, 239); */
  background: #fff;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  padding: 250px 0px;
}
.why_bofu .contents{
  text-align: center
}
.why_bofu .contents h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.why_bofu .contents p{
  text-align: justify;
  color: #000;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.why_bofu .top_row{
  margin-top: -350px;
  background:#000080;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 100px;
  padding-top: 100px;
  font-weight: 700;
  font-size: 50px;
}
.why_bofu .top_row h1{
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}



/* about style */
.about{
  background:#000080;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.about h1{
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: justify;
  padding-left: 40px;
}
.about .heading{
  /* background: rgb(241, 239, 239); */
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px;
}
.about .description{
  padding: 190px 0px;
}




/* quotation */
.quotation{
  background: #e9b32a;
  padding: 100px 0px;
  text-align: center;
  text-transform: capitalize;
}
.quotation h1{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

.service{
  background: #fff;
  padding: 200px 0px;
}
.service h1{
  font-size: 70px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.service .service_content h1{
  font-size: 30px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}



/* our_projects */
.our_projects{
  background:#000080;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 100px;
  padding-top: 100px;
  font-weight: 700;
  font-size: 50px;
}
.our_projects h1{
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}




/* parallax */
.parallax{
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px;
}
.parallax i{
  font-size: 50px;
  color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px solid #fff;
  padding-top: 30px;
}
.parallax h1{
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.parallax h2{
  font-size: 30px;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0px;
}




/* about_page */
.about_page{
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px;
}
.about_page h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: #fff;
}
.about_content{
  padding: 100px 0px;
}
.about_content .about_desc{
  text-align: justify;
  background: #e9b32a;
  padding: 20px 10px;
  margin-left: -200px;
  margin-right: 50px;
  margin-top: 70px;
  font-family: 'Montserrat', sans-serif;
}
.about_content .about_desc h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}
.about_content .about_desc p{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 14;
}


/* services page */
.services{
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./images/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0px;
}
.services h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  color: #fff;
}

.other_contents{
  padding: 100px 0px;
}
.about_box{
  text-align: center;
  padding: 35px 15px;
  overflow: hidden;
  position: relative;
  transition: All 0.3s ease 0s;
}
.about_box:hover{
  background: #3399ff;
}
.about_box:before{
  content: "";
  width: 40px;
  height: 40px;
  border-width: 20px;
  border-style: solid;
  border-color: white white rgba(1, 1, 1, 0.2) rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -40px;
  right: -40px;
  transition: All 0.3s ease 0s;
}
.about_box:hover:before{
  top: 0px;
  right: 0px;
}
.service_box i{
  display: block;
  font-size: 65px;
  color: #3399ff;
  margin-bottom: 14px;
  transition: All 0.3s ease 0s;
}
.about_box .title{
  font-size: 20px;
  font-weight: 900;
  color: #545454;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 0 16px 0;
  font-family: 'Montserrat', sans-serif;
}
.about_box .description{
  font-size: 15px;
  color: #545454;
  line-height: 25px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.about_box:hover i, .about_box:hover .title, .about_box:hover .description{
  color: #fff;
}













/* footer container */
.footer_container{
  text-align: center;
  background: #f4f4f4;
  color: #000;
  font-weight: bold;
  padding: 50px 10px;
}